.albumById {
    flex-direction: column;
    align-items: center;
    display: flex;
    gap: 2rem;
    height: 100%;
    width: 100%;
}

.albumById-container {
    width: 100%;
}

.albumById-wrapper {
    gap: 3rem;
    display: flex;
    flex-direction: column;
    padding: 3rem 0;
}

.albumById-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 125%;
    margin-bottom: 1.5rem;
}

.albumById-back--icon {
    width: 30px;
    height: 30px;
    stroke: #fcfcfc;

    transition: .3s ease-in-out;
}

.albumById-link--back {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #fcfcfc;
}

.albumById-album-info {
    display: flex;
    flex-direction: column;
    flex: 1
}

.albumById-card {
    background: #212124;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 42px rgba(0, 0, 0, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.albumById-album-photo {
    width: 100%;
    max-width: 230px;
    max-height: 230px;
    height: 230px;
    border-radius: 8px;
    margin-bottom: 1rem;
    object-fit: cover;
    box-shadow: 0 7px 26px rgba(0, 0, 0, 0.6);
}

.albumById-album-performerPhoto {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.albumById-performer {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.albumById-performer,
.albumById-album,
.albumById-release-date,
.albumById-duration {
    font-size: 16px;
    margin: 0.5rem 0;
    color: #fcfcfc;
}

.albumById-album-buttons {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 1.5rem;
}

.albumById-add-playlist {
    position: relative;
}

.albumById-album-button {
    display: flex;
    background-color: #D1AFFF;
    border: none;
    outline: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: .3s ease-in-out;
    align-items: center;
    justify-content: center;
}

.albumById-album-button-icon {
    fill: #171719;
    transition: 0.3s ease-in-out;
}

.albumById-album-button:hover {
    background-color: #a766ff;
}

.albumById-album-button:hover .albumById-album-button-icon {
    fill: #FCFCFC;
}

.albumById-playlist-menu {
    position: absolute;
    top: -113px;
    left: -20px;
    background-color: #333;
    border-radius: 8px;
    padding: 1rem;
    width: 200px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    height: 100px;
}

.albumById-playlist-item {
    background: none;
    color: #fcfcfc;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
}

.albumById-playlist-item:hover {
    background-color: #555;
}

.albumById-playlist-delete--modal {
    position: absolute;
    top: -9.5rem;
    left: -7rem;
    background-color: #333;
    border-radius: 8px;
    padding: 1rem;
    width: 200px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.albumById-delete-buttons {
    display: flex;
    gap: 1rem;
}

.albumById-delete-button {
    background-color: #D1AFFF;
    outline: none;
    border: none;
    padding: 0.5rem 1.5rem;
    border-radius: 8px;
}

.addIconPlaylist {
    rotate: -135deg;
}

@media (min-width: 600px) {
    .albumById-card {
        max-width: 100%;
        padding: 1.5rem;
        flex-direction: row;
        gap: 2rem;
    }

    .albumById-title {
        font-size: 1.5rem;
    }

    .albumById-album-photo {
        margin-bottom: 0;
    }

    .albumById-album-buttons {
        flex-direction: column;
        gap: 1.5rem;
        width: auto;
    }

    .albumById-playlist-menu {
        top: 0;
        left: -13.5rem;
    }
}
