.forgetPassword {
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.forgetPassword-container {
    max-width: 720px;
    width: 100%;
}

.forgetPassword-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 125%;
    margin-bottom: 2.5rem;
}

.forgetPassword-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.forgetPassword-form--container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.forgetPassword-form--label {
    font-weight: 600;
    font-size: 12px;
    line-height: 120%;
    text-transform: uppercase;
}

.forgetPassword-form--input {
    background-color: #fcfcfc;
    padding: .75rem;
    border-radius: 0.5rem;
}

.forgetPassword-form--input:focus {
    outline: 2px solid #A766FF;
}

.forgetPassword-form--button {
    background-color: #D1AFFF;
    padding: .75rem;
    border-radius: 0.5rem;

    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    text-transform: uppercase;
    color: #171719;

    transition: .3s ease-in-out;
}

.forgetPassword-form--button:hover {
    background-color: #A766FF;
    color: #FCFCFC;
}

.forgetPassword-form--link {
    color: #D1AFFF;

    transition: .3s ease-in-out;
}

.forgetPassword-form--link:hover {
    color: #A766FF;
}