.home {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

/* Aside */
.aside {
    width: 240px;
    background-color: #212124;
    height: 100%;
    position: fixed;
    left: -240px;
    top: 0;
    bottom: 0;
    transition: left 0.3s ease-in-out;
    z-index: 10;
}

.aside.open {
    left: 0;
}

.aside-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100%;
    padding: 16px 12px;
}

.aside-profile {
    display: flex;
    justify-content: space-between;
    padding: 14px;
}

.aside-button {
    position: relative;
    width: 30px;
    height: 30px;
    background-color: transparent;
}

.aside-button.active svg,
.aside-button.active svg {
    fill: #a766ff;
}

.aside-profile--icon {
    width: 30px;
    height: 30px;
    fill: #fcfcfc;
}

.aside-collection--icon {
    width: 24px;
    height: 24px;
    fill: #fcfcfc;
    stroke: #fcfcfc;
}

.aside-navigation {
    display: flex;
    flex-direction: column;
}

.aside-navigation--link, .aside-collection--link, .aside-playlists--link {
    padding: 12px;
    color: #FCFCFC;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
}

.aside-collection--title, .aside-playlists--title {
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    text-transform: uppercase;
    color: #9898a6;
    padding-bottom: 12px;
}

.aside-collection--container {
    display: flex;
    flex-direction: column;
}

.aside-collection--link {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.aside-playlists--container {
    display: flex;
    flex-direction: column;
    max-height: calc(90vh - 450px);
    overflow-y: auto;
    padding-right: 5px;
}

.aside-playlists--container::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.aside-playlists--container::-webkit-scrollbar-track {
    background: #212124;
    border-radius: 4px;
}

.aside-playlists--container::-webkit-scrollbar-thumb {
    background: #A766FF;
    border-radius: 4px;
    transition: background 0.3s ease-in-out, height 0.3s ease-in-out;
}

.aside-playlists--container::-webkit-scrollbar-thumb:hover {
    background: #D1AFFF;
}

.aside-playlists--container::-webkit-scrollbar-corner {
    background: transparent;
}

.aside-navigation--link.active, .aside-collection--link.active {
    color: #a766ff;
}

.aside-navigation--link.active svg,
.aside-collection--link.active svg {
    fill: #a766ff;
    stroke: #a766ff;
}

/* Main */
/* Header */
.main {
    flex: 1;
    margin-left: 0;
    transition: 0.3s ease-in-out;
    overflow: auto;
}

.main.shift {
    transform: translateX(240px);
}

.main-header {
    height: 70px;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.aside-toggle {
    background: none;
}

.header-form {
    display: flex;
    gap: 0.5rem;
    align-items: center;

    transition: .3s ease-in-out;
}

.header-form--container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.header-form--input {
    background-color: #1f1f22;
    padding: 8px 10px 8px 36px;
    border: 1px solid rgba(235, 235, 255, 0.05);
    color: #FCFCFC;
    border-radius: 12px;
    width: 100%;
    box-sizing: border-box;
    transition: 0.3s ease-in-out;
}

.header-form--input:focus {
    outline: 2px solid #A766FF;
}

.header-form--input::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background: url('../../assets/cross.svg') no-repeat center;
    background-size: contain;
    cursor: pointer;
}

.header-form--search {
    background: none;
}

.aside-close--icon {
    width: 30px;
    height: 30px;
    stroke: #fcfcfc;
    fill: #fcfcfc;

    transition: .3s ease-in-out;
}

.header-form--search-icon {
    position: absolute;
    left: 12px;
    width: 16px;
    height: 16px;
    stroke: #fcfcfc;
    fill: #fcfcfc;
    pointer-events: none;
    transition: fill 0.3s ease-in-out, stroke 0.3s ease-in-out;
}

.header-form--input:focus ~ .header-form--search-icon {
    stroke: #A766FF;
    fill: #A766FF;
}

.header-form--search-icon:hover, .aside-close--icon:hover {
    fill: #a766ff;
    stroke: #a766ff;
}

/* Tracks */
.main-home {
    padding-top: 20px;
    padding-bottom: 20px;
}

.main-tracks--title {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 133%;
    margin-bottom: 1rem;
}

.main-tracks--container-wrapper {
    overflow-x: auto;
    width: 100%;
    padding-bottom: 8px;
    box-sizing: border-box;
    user-select: none;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.main-tracks--container-wrapper::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.main-tracks--container-wrapper::-webkit-scrollbar-track {
    background: #212124;
    border-radius: 4px;
}

.main-tracks--container-wrapper::-webkit-scrollbar-thumb {
    background: #A766FF;
    border-radius: 4px;
    transition: background 0.3s ease-in-out, height 0.3s ease-in-out;
}

.main-tracks--container-wrapper::-webkit-scrollbar-thumb:hover {
    background: #D1AFFF;
}

.main-tracks--container-wrapper::-webkit-scrollbar-corner {
    background: transparent;
}

.main-tracks--container {
    display: inline-flex;
    gap: 16px;
}

.main-tracks--card:hover {
    box-shadow: 0 8px 28px rgba(0, 0, 0, 0.4);
}

.main-tracks--card {
    position: relative;
    width: 100%;
    max-width: 272px;
    border-radius: 8px;
    overflow: hidden;
    display: block;
    flex: 0 0 auto;
    scroll-snap-align: start;
    transition: box-shadow 0.3s;
}

.tracks-card--img {
    width: 100%;
    height: 250px;
    display: block;
    border-radius: 8px 8px 0 0;
    object-fit: cover;
}

.tracks-card--content {
    position: relative;
    padding: 1rem;
    color: #fff;
    z-index: 1;
}

.tracks-card--content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../assets/card1.png");
    background-size: cover;
    background-position: center;
    filter: blur(48px);
    opacity: 0.4;
    z-index: -1;
    border-radius: 0 0 8px 8px;
}

.tracks-card--title {
    font-weight: 600;
    font-size: 18px;
    line-height: 133%;
    margin-bottom: 5px;
}

.tracks-card--performer {
    font-weight: 600;
    font-size: 14px;
    line-height: 143%;
    color: #9898a6;
}

/* Media rules */
@media (min-width: 768px) {
    .header-form {
        gap: 1.5rem;
    }

    .header-form--input {
        width: 330px;
        padding: 8px 12px 8px 36px;
    }
}

@media (min-width: 1024px) {
    .aside {
        position: relative;
        left: 0;
        height: auto;
    }

    .main {
        flex: 1;
        transform: none;
    }

    .aside-toggle {
        display: none;
    }

    .main-header {
        justify-content: flex-end;
    }

    .main-tracks--container-wrapper {
        scroll-snap-type: none;
    }
}

/* Menu */
.menu {
    position: absolute;
    top: 4.5rem;
    left: 5.5rem;
    background-color: #fcfcfc;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 150px;
    padding: 10px 0;
    z-index: 1000;
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    transition: opacity .3s ease, transform .3s ease;
}

.menu.open {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.list-item {
    padding: 10px 20px;
}

.list-item--button {
    background: none;
    font-family: "Inter", sans-serif;
    text-decoration: none;
    color: #212124;
    font-weight: 500;
    font-size: 15px;
    line-height: 150%;
    display: block;
    transition: 0.3s;
}

.list-item--button:hover {
    color: #a766ff;
}