.main-page-tracks--container-wrapper {
    overflow-x: hidden;
    width: 100%;
    padding-bottom: 8px;
    box-sizing: border-box;
    user-select: none;
    scroll-behavior: auto;
}

.main-page-tracks--container {
    display: grid;
    gap: 1.5rem;
}

@media screen and (min-width: 600px) {
    .main-page-tracks--container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 800px) {
    .main-page-tracks--container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1024px) {
    .main-page-tracks--container {
        grid-template-columns: repeat(4, 1fr);
    }
}

.create-track {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D1AFFF;
    border-radius: 0.5rem;
    padding: .75rem 3rem;

    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    text-transform: uppercase;
    color: #171719;

    transition: .3s ease-in-out;
}

.create-track:hover {
    background-color: #A766FF;
    color: #FCFCFC;
}

.track-container {
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
}

@media screen and (min-width: 500px) {
    .track-container {
        flex-direction: row;
    }
}

.main-tracks--title {
    flex: 1;
}