body,
html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body {
    font-family: "Inter", sans-serif;
    letter-spacing: 0.04em;
    font-size: 16px;
    color: #fcfcfc;
    background-color: #171719;
}
*{
    box-sizing: border-box;
}
*,
::before,
::after {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
}

select {
    display: block;
    border: none;
    outline: none;
    background-color: transparent;
}
a,
button {
    cursor: pointer;
}
input {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
}
.hidden {
    display: none !important;
}
#root {
    height: 100vh;
    width: 100vw;
}