<div class="home">
    <aside class="aside">
        <div class="aside-container">
            <div class="aside-profile">
                <a class="aside-button">
                    <svg class="aside-profile--icon">
                        <use href="./assets/symbol-defs.svg#profile"></use>
                    </svg>
                </a>
                <button class="aside-button">
                    <svg class="aside-profile--icon">
                        <use href="./assets/symbol-defs.svg#dots"></use>
                    </svg>
                </button>
            </div>
            <div class="aside-navigation">
                <a href="" class="aside-navigation--link">Home</a>
                <a href="" class="aside-navigation--link">Explore</a>
            </div>
            <div class="aside-collection">
                <h3 class="aside-collection--title">My Collection</h3>
                <div class="aside-collection--container">
                    <a href="" class="aside-collection--link">
                        <svg class="aside-collection--icon">
                            <use href="./assets/symbol-defs.svg#playlists"></use>
                        </svg>
                        Playlists</a>
                    <a href="" class="aside-collection--link">
                        <svg class="aside-collection--icon">
                            <use href="./assets/symbol-defs.svg#albums"></use>
                        </svg>
                        Albums</a>
                    <a href="" class="aside-collection--link">
                        <svg class="aside-collection--icon">
                            <use href="./assets/symbol-defs.svg#tracks"></use>
                        </svg>
                        Tracks</a>
                    <a href="" class="aside-collection--link">
                        <svg class="aside-collection--icon">
                            <use href="./assets/symbol-defs.svg#artists"></use>
                        </svg>
                        Artists</a>
                </div>
            </div>
            <div class="aside-playlists">
                <h3 class="aside-playlists--title">My Playlists</h3>
                <div class="aside-playlists--container">
                    <a href="" class="aside-playlists--link">Playlists</a>
                </div>
            </div>
        </div>
    </aside>
    <div class="main">
        <div class="main-container container">
            <header class="main-header">
                <button id="aside-toggle" class="aside-toggle">
                    <svg class="aside-close--icon">
                        <use href="./assets/symbol-defs.svg#menu"></use>
                    </svg>
                </button>
                <form method="post" class="header-form">
                    <label class="header-form--container">
                        <input class="header-form--input" type="search" placeholder="Search..."/>
                        <svg class="header-form--search-icon">
                            <use href="./assets/symbol-defs.svg#search"></use>
                        </svg>
                    </label>
                </form>
            </header>
            <div class="main-home">
                <div class="main-tracks">
                    <h2 class="main-tracks--title">Tracks</h2>
                    <div class="main-tracks--container-wrapper">
                        <div class="main-tracks--container">
                            <a href="#" class="main-tracks--card">
                                <img class="tracks-card--img" src="./assets/card1.png"/>
                                <div class="tracks-card--content">
                                    <h2 class="tracks-card--title">Track title</h2>
                                    <p class="tracks-card--description">Track description</p>
                                </div>
                            </a>
                            <a href="#" class="main-tracks--card">
                                <img class="tracks-card--img" src="./assets/card1.png"/>
                                <div class="tracks-card--content">
                                    <h2 class="tracks-card--title">Track title</h2>
                                    <p class="tracks-card--description">Track description</p>
                                </div>
                            </a>
                            <a href="#" class="main-tracks--card">
                                <img class="tracks-card--img" src="./assets/card1.png"/>
                                <div class="tracks-card--content">
                                    <h2 class="tracks-card--title">Track title</h2>
                                    <p class="tracks-card--description">Track description</p>
                                </div>
                            </a>
                            <a href="#" class="main-tracks--card">
                                <img class="tracks-card--img" src="./assets/card1.png"/>
                                <div class="tracks-card--content">
                                    <h2 class="tracks-card--title">Track title</h2>
                                    <p class="tracks-card--description">Track description</p>
                                </div>
                            </a>
                            <a href="#" class="main-tracks--card">
                                <img class="tracks-card--img" src="./assets/card1.png"/>
                                <div class="tracks-card--content">
                                    <h2 class="tracks-card--title">Track title</h2>
                                    <p class="tracks-card--description">Track description</p>
                                </div>
                            </a>
                            <a href="#" class="main-tracks--card">
                                <img class="tracks-card--img" src="./assets/card1.png"/>
                                <div class="tracks-card--content">
                                    <h2 class="tracks-card--title">Track title</h2>
                                    <p class="tracks-card--description">Track description</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>