<div class="container login-container">
    <h2 class="login-title">Sign in</h2>
    <form action="" method="post" class="login-form">
        <div class="login-form--container">
            <label class="login-form--label" for="email">Email:</label>
            <input class="login-form--input" type="email" id="email">
        </div>
        <div class="login-form--container">
            <label class="login-form--label" for="password">Password</label>
            <input class="login-form--input" type="password" id="password">
        </div>
        <button type="submit" class="login-form--button">Sign in</button>
        <p>If you haven't got an account, <a class="login-form--link" id="toSignup">sign up</a>!</p>
    </form>
</div>