<div class="container registration-container">
    <h2 class="registration-title">Sign up now!</h2>
    <form action="" method="post" class="registration-form">
        <div class="registration-form--container">
            <label class="registration-form--label" for="username">Username:</label>
            <input class="registration-form--input" type="text" id="username">
        </div>
        <div class="registration-form--container">
            <label class="registration-form--label" for="email">Email:</label>
            <input class="registration-form--input" type="email" id="email">
        </div>
        <div class="registration-form--container">
            <label class="registration-form--label" for="password">Password</label>
            <input class="registration-form--input" type="password" id="password">
        </div>
        <button type="submit" class="registration-form--button">Sign up</button>
        <p>If you already have an account, <a class="registration-form--link" id="toSignin">sign in</a>!</p>
    </form>
</div>